html{
	height: 100%;
	box-sizing: border-box;
}

h1{
  font-family: 'Convergence', sans-serif;
  font-style: bold;
  font-size: 3em;
  line-height: 1.05em;
}

h2{
  font-family: 'Convergence', sans-serif;
  font-style: italic;
  font-size: 2.25em;
  line-height: 1.25em;
}

h3{
  font-family: 'Convergence', sans-serif;
  font-size: 1.75em;
  line-height: 1.25em;
}


body{
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.375em;
  background-color: rgba(142, 146, 165, 0.5);
  color: #122333;
}


@media only screen and (max-width: 60em) { 

  h1{
  font-size: 2em;
  line-height: 1.25em;
  }

  h2{
  font-size: 1.625em;
  line-height: 1.1363em;
  }

  h3{
  font-size: 1.375em;
  line-height: 1.1363em;
  }

  body{
    line-height: 1.25em;
  }

}


/* Navigation */

.icon-bar {
    background-color: #122333;
    left: 0;
    position: fixed;
}

.icon-bar a {
    padding: 16px;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
}

.icon-bar a:hover{
    background-color: #0C1721;
}

.icon-bar .fa{
    color: #FAD2A1;
}

.icon-bar a:hover .fa{
  color: #f0a27d
}


.icon-bar .fa:hover{
    color: #f0a27d;
}



.icon-bar .show-for-medium-up{
    height: 100%;
    width: 90px;
}

.icon-bar .show-for-small-only{
    width: 100%;
    padding-bottom: 0.5em;
    position: inherit;
}

/* hero */

.layer{
	background-image: url(../img/sunfour.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 40%;
}


@media only screen and (max-width: 60em){
  .layer{
    background-position: 50% -50%;
  }
}


.hero{
  background-color: rgba(142, 146, 165, 0.5);
  text-align: right;
}

.hero h1{
	color: #f0a27d;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  -webkit-text-stroke: 0.5px #122333;
  line-height: 1;
}

.hero p{
  color: #FAD2a1;
  padding-bottom: 1.5em;
}  

.hero #oc{
  fill: #122333;
  width: 20%;
  position: absolute;
  top: 5%;
  left: 15%;
}


@media only screen and (max-width: 60em){

  .hero .row{
    padding-right: 1.5em;
  }
}


@media only screen and (max-width: 40em){

  .hero #oc{
    left: 5%;
    top: 7%;
  }

  .hero h1{
    padding-bottom: 0;
  }

  .hero .row{
    padding-right: 0.5em;
  }

}


/* content */

.content{
  padding-top: 3em;
  padding-bottom: 3em;
}

.content img{
	width: 100%;
}

.blog{
  padding-top: 3em;
  padding-bottom: 3em;
}

.blog .row{
  padding-bottom: 3em;
}


.item {
    display: block;
    position: relative;
}

            .item img {
                width: 100%;
                z-index: -1;
            }

            .item .overlay {
                position: absolute;
                left: 0%;
                top:0;
                width: 0%;
                height: 100%;
                background-color: rgba(18,35,51,0.7);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease-in;
                -o-transition: all 1s ease-in-out;
                transition: all 1s ease;
                visibility:hidden;
                overflow:hidden;
                
            }

            .item .overlay h1{
              color: #8E92A5;
              text-align: center;
              margin: auto;
              padding-top: 1.5em;
              font-size: 2em;
            }

            .item .overlay p{
              color: #FAD2a1;
              text-align: center;
              margin: auto;
            }

            .item:hover .overlay {
                top:0;
                left:0;
                visibility:visible;
                width:100%;
                height:100%;
            }




/* .tabs-content .content {
  animation-duration: 2s;
  animation-name: fadeOut;
} */
.tabs-content .content.active {
  animation-duration: 2s;
  animation-name: fadeIn;
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}




/* inner page */



/* footer */
footer{
	background-color: rgba(142, 146, 165, 0.5);
	width: 100%;
  bottom: 0;
  	
}

footer .row{
  padding-top: 1.5em;
}

footer ul{
  list-style: none;
}

footer li{
  padding: 0.5em;
}

footer a{
  color: #FAD2A1;
}

footer a:hover{
  color: #856278;
}



